[MASTER]
ignore=CVS,ui,tests

[FORMAT]
max-line-length=130

[MESSAGES CONTROL]
disable=
    no-member,
    attribute-defined-outside-init,
    bare-except,
    too-few-public-methods,
    too-many-arguments,
    invalid-name,
    duplicate-code
