[MASTER]
ignore=tests

[FORMAT]
max-line-length=130
max-attributes=10

[MESSAGES CONTROL]
disable=
    no-member,
    invalid-name,
    duplicate-code,
    too-many-nested-blocks,
    consider-using-enumerate,
    too-many-branches,
    inconsistent-return-statements,
    missing-module-docstring

